@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
    color: #41C2ED;
    font-size: 3em;
}
h2{
    color: #71E9FF;
}
h3{
    color: #4C5DC5;
    font-size: 1.4em;
}
ul {
    list-style: none;
}
li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Rokkitt', serif;
}
/* Quiz Classes */
 .quizContainer {
    background-color: #223C61;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #71E9FF;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #4c46f9;
    /*clear: both;*/
    color: #41C2ED;
    font-family:'Rokkitt', serif;
    font-size: 20px;
    position: relative;
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
}
.question {
    font-family:'Rokkitt', serif;
    font-size: 2em;
    color: #ff69b4;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    text-align: center;
}
.quizMessage {
    background-color: #41C2ED;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Rokkitt', serif;
    color: #4c46f9;
    font-weight: 800;
}
.choiceList {
    font-family: Courier, serif;
    color: #58BFFF;
    text-align: center;
}
.choicelist li {
    display: inline-block;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
}
h1, h2, h3 {
    text-align: center;
}
/* End of Quiz Classes */